# JWT
JWT_SECRET_KEY=70daff9a378b3a6039ff04c156ade2f21612cf6359a5ba1702902b58773671dd
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Auth DB
AUTH_DB_USER=dots
AUTH_DB_PASSWORD=1290
AUTH_DB_NAME=codesight

DATABASE_URL=postgresql+asyncpg://dots:1290@localhost:5435/codesight

APP_HOST=0.0.0.0
APP_PORT=8000
